<div ng-controller="FooterController" class="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="myNavbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../../#about">About</a></li>
                    <li><a href="../../#contact">Contact</a></li>
                    <li>
                        <a href="https://docs.google.com/document/d/1y5-5tANuz1xItOhbQWgf1nrMkbv80w8OiMKM6XnmTt4/edit?usp=sharing">
                            Project Documentation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!--
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="collapse navbar-collapse ">
                <ul class="nav navbar-nav ">
                    <li><a href="../../#about">About</a></li>
                    <li><a href="../../#contact">Contact</a></li>
                    <li>
                        <a href="https://docs.google.com/a/husky.neu.edu/document/d/1yEu3CaS0K6GciTJ7LK-Y2zlm5YJqSXFF5ZXj2GCa0ds/edit?usp=sharing">
                            Project Documentation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>-->
</div>