<div class="container-fluid">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Admin</h1>
        <h3>Users</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr class="admin-alignment">
                    <th class="col-no-wrap">
                        <a href="" ng-click="model.sortType = 'model.user.username'; model.sortReverse = !model.sortReverse">
                            <span ng-show="model.sortType == 'model.user.username' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="model.sortType == 'model.user.username' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            Username
                        </a>
                    </th>
                    <th> Password</th>
                    <th class="col-no-wrap">
                        <a href="" ng-click="model.sortType = 'model.user.firstName'; model.sortReverse = !model.sortReverse">
                            <span ng-show="model.sortType == 'model.user.firstName' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="model.sortType == 'model.user.firstName' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            First Name
                        </a>

                    </th>
                    <th class="col-no-wrap">
                        <a href="" ng-click="model.sortType = 'model.user.lastName'; model.sortReverse = !model.sortReverse">
                            <span ng-show="model.sortType == 'model.user.lastName' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="model.sortType == 'model.user.lastName' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            Last Name
                        </a>

                    </th>
                    <th class="col-no-wrap"> Roles</th>
                    <th class="col-no-wrap" colspan="2"> Actions</th>
                </tr>
                <tr class="admin-alignment">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <td class="col-no-wrap"><input type="text" class="form-control" ng-model="model.user.username" placeholder="Username"></td>
                            <td class="col-no-wrap"><input type="password" class="form-control" ng-model="model.user.password" placeholder="Password"></td>
                            <td class="col-no-wrap"><input type="text" class="form-control" ng-model="model.user.firstName" placeholder="First Name"></td>
                            <td class="col-no-wrap"><input type="text" class="form-control" ng-model="model.user.lastName" placeholder="Last Name"></td>
                            <td class="col-no-wrap"><input type="text" class="form-control" ng-model="model.user.roles" placeholder="role1, role2.."></td>
                            <td class="col-no-wrap">
                                <button ng-click="model.addUser(model.user)" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td class="col-no-wrap">
                                <button ng-click="model.updateUser(model.user)" class="btn btn-default">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            </td>
                        </div>
                    </div>
                </tr>
                <tr class="admin-alignment" ng-repeat="user in model.users | orderBy:model.sortType:model.sortReverse">
                    <td>{{user.username}}</td>
                    <td></td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.roles}}</td>
                    <td>
                        <button ng-click="model.deleteUser($index)" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td>
                        <button ng-click="model.selectUser($index)" class="btn btn-default">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

