
<!DOCTYPE html>
<html lang="en" ng-app="FormBuilderApp">
    <body>
        <div class="container-fluid">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Register</h1>
                <form class="form-horizontal" ng-model="addUser" ng-controller="RegisterController">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="usernm" class="form-control" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" ng-model="pwd" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword2" class="col-sm-2 control-label">Verify Password</label>
                        <div class="col-sm-10">
                            <input type="password" ng-model="verifyPassword" class="form-control" id="inputPassword2" placeholder="Verify Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" ng-model="email1" class="form-control" id="inputEmail1" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary btn-lg btn-block" ng-class="{'btn-primary' : $location.url() == '/profile'}"
                               ng-click="register()"> Register </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </body>
</html>
