<div class="col-md-6 col-xs-12">
    <form class="form-inline">
        <h1>Investment Search</h1>
        <form class="form-inline">
            <div class="form-group">
                <div>
                    <input ng-model="model.query.queryText" type="text" class="form-control" placeholder="Search. . .">
                    <select ng-model="model.query.queryType" class="form-control">
                        <option>Investment Option</option>
                        <option>Investor</option>
                    </select>
                </div>
            </div>
            <button type="submit" ng-click="model.search(model.query)" class="btn btn-primary">Search</button>
        </form>
    </form>
    {{model.returnData}}
    <div ng-show="model.stock">
        HERE
        <div ng-repeat="stk in model.stocks">
            {{stk}}
            <div ng-if="stk">
                <h3>
                    <a href="#/search/option/{{stk.symbol}}">
                        {{option.company}}
                    </a>
                </h3>
            </div>
        </div>
    </div>
    <div ng-hide="model.stock">
        THERE
        <div ng-repeat="investor in model.investors">
            <div ng-if="investor">
                <h3>
                    <a href="#/search/investor/{{investor.username}}">
                        {{investor.fullName}}
                    </a>
                </h3>
            </div>
        </div>
        <div ng-show="model.returnData.err">
            <h4>Oops, the searched investor "{{model.query.queryText}}" does not exist.</h4>
        </div>
    </div>
</div>
<div id="chartSpace" class="col-md-6 col-xs-12"></div>