<div id="results">
    <div ng-show="model.returnData.option">
        <h2>{{model.returnData.option.Name}}</h2>
        <div ng-hide="model.message">
            <button class="btn btn-primary"
                    ng-click="model.followStock(model.returnData.option.Symbol, model.returnData.option.Name)">
                <span ng-show="!model.follow"
                      class="glyphicon glyphicon-star-empty"></span>
                <span ng-show="model.follow"
                      class="glyphicon glyphicon-star"></span>
            </button>
        </div>
        <h3>{{model.message}}</h3>

        <div ng-repeat="(key,value) in model.returnData.option">
            <div ng-if="key!= 'symbol' && key!= 'Symbol' &&  key!= 'Name'">{{key}} - {{value}}</div>
        </div>
        <strong ng-show="model.userFollowing.length>0">Other investors following this stock:</strong>
        <div ng-repeat="user in model.userFollowing">
            <a href="#/search/investor/{{user.username}}">{{user.fullName}}</a>
        </div>
    </div>
    <div ng-show="model.returnData.investor">
        <h2>{{model.returnData.investor[0].fullName}}</h2>
        <div ng-hide="model.message">
            <button class="btn btn-primary"
                    ng-click="model.followInvestor(model.returnData.investor[0].username, model.returnData.investor[0].fullName)">
                <span ng-show="!model.followUser"
                      class="glyphicon glyphicon-star-empty"></span>
                <span ng-show="model.followUser"
                      class="glyphicon glyphicon-star"></span>
            </button>
        </div>
        <h3>{{model.message}}</h3>
        <div ng-repeat="(key,value) in model.returnData.investor[0]">
            <div ng-if="key!= 'username' && key!='password' && key!='roles' && key!='_id' && key!= 'fullName' && key!= 'followStocks' && key!= 'followUsers' && key!= 'interestedInvestments' && key!= '__v'">{{key}} - {{value}}</div>
        </div>
        <div ng-if="model.userFollowStocks.length>0">
            <strong>Follows Stocks:</strong>
            <div ng-repeat="stock in model.userFollowStocks">
                <a href="#/search/option/{{stock.symbol}}">{{stock.name}}</a>
            </div>
        </div>
        <div ng-if="model.userFollowingInvestor.length>0">
            <strong>Followed by Investors:</strong>
            <div ng-repeat="investor in model.userFollowingInvestor">
                <a href="#/search/investor/{{investor.username}}">{{investor.fullName}}</a>
            </div>
        </div>
    </div>
</div>
